* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Potta One", cursive;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
    user-select: none;
}

input {
    border: 2px solid #2a2a38;
    color: #6a6a6a;
}

input:hover,
input:focus {
    border-color: hsl(240, 97%, 71%);
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    list-style-type: none;
}

nav {
    background-color: rgb(255, 255, 255);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 5px 2px #6a6a6a;
    z-index: 99;
}

.nav-container {
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 70px;
}

.logo {
    font-size: 2rem;
    color: #00aeef;
}

input {
    visibility: hidden;
}

label {
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: hsla(0, 0%, 83%, 0.73);
    border-radius: 20px;
    align-self: center;
    cursor: pointer;
}

.circle {
    width: 34px;
    background-color: white;
    height: 34px;
    border-radius: 50%;
    top: 3px;
    position: absolute;
    left: 3px;
    animation: toggleOff 0.4s linear forwards;
}

.dark-mode {
    display: inline;
    position: relative;
    width: 300px;
    text-align: center;
}


input:checked + label{
    background-color: black;
}

input:checked + label .circle{
    animation: toggleOn 0.4s linear forwards;
    background-color: hsla(0, 0%, 83%, 0.73);
}

@keyframes toggleOn {
    0%{
        transform: translate(0px);
    }
    100%{
        transform: translate(40px);
    }
}

@keyframes toggleOff {
    0%{
        transform: translate(40px);
    }
    100%{
        transform: translate(0px);
    }
}

.toggle {
    display: inline;
    color: black;
}